*.pyc
*.pyo
__pycache__/
data/
source_to_staging/.env
silver_to_staging/.env
/tmp_dump
staging_to_silver/.env
tests/.env
tests/_artifacts/

# Occasionally created by local tooling during tests; keep ignored
available
use
