# Wanneer je ConnectorX gebruikt i.c.m. met een OracleDB (als 'database-source'), kan het 
# nodig zijn om het pad naar een Oracle-client te specificeren (bijv., C:\oracle\instantclient_21_18")
# (Je kan dit eventueel hier downloaden: https://www.oracle.com/database/technologies/instant-client/downloads.html)
SRC_CONNECTORX_ORACLE_CLIENT_PATH = C:\oracle\instantclient_21_18

# Of langzame tests (integration tests met Docker) moeten worden uitgevoerd (1 = ja, 0 = nee)
RUN_SLOW_TESTS=0