[database]
DST_DRIVER = postgresql+psycopg2
DST_HOST = localhost
DST_PORT = 5432
DST_USERNAME = sa
DST_PASSWORD = SecureP@ss1!24323482349
DST_DB = ggm
DST_SCHEMA = ggm

[settings]
# Of wachtwoord gevraagd wordt in CLI i.p.v. uit te lezen uit environment of .ini-config
ASK_PASSWORD_IN_CLI=false

[logging]
LOG_LEVEL=INFO
LOG_TO_FILE=False
LOG_FILE=logs/source_to_staging_destination.log
LOG_ROTATE_BYTES=5000000
LOG_BACKUP_COUNT=3