[database]
SRC_DRIVER = oracle+oracledb
SRC_HOST = localhost
SRC_PORT = 1521
SRC_USERNAME = sa
SRC_PASSWORD = SecureP@ss1!24323482349
SRC_DB = ggm
SRC_SCHEMA = 

[settings]
# Comma-separated list of tables to extract from source database
SRC_TABLES = szclient, wvbedrag, wvaanb
# Chunk size; maximum number of rows extracted at once. Can be used to avoid larger-than-memory issues
SRC_CHUNK_SIZE = 100000
# Whether to use ConnectorX for downloading source data
SRC_CONNECTORX = True
# When using CONNECTORX, and OracleDB, it may be necesarry to specify path to Oracle client (e.g., C:\oracle\instantclient_21_18")
# Download here: https://www.oracle.com/database/technologies/instant-client/downloads.html (then unzip)
SRC_CONNECTORX_ORACLE_CLIENT_PATH =
# Of wachtwoord gevraagd wordt in CLI i.p.v. uit te lezen uit environment of .ini-config
ASK_PASSWORD_IN_CLI=false
